.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    /* display: flex; */
    align-items: center;
    /* justify-content: space-around; */
    background-color: lightblue;
    padding: 1rem 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span{
    margin-right: 1.5rem;
}

header button{
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    cursor: pointer;    
}

nav{
    background-color: lightslategray;
    padding: 1rem 0;
}

nav p{
    /* margin-left: 19rem; */
    color: white;
    font-size: 1.5rem;
}

main{
    display: flex;
}

main .box{
    width: 15rem;
    height: 25rem;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 30rem 15rem;
    background-position: center;
}

main .box h1{
    /* padding: 2rem 0; */
    color: white;
    
}

main .box{
    background-image: url();
}

footer{
    background-color: black;
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    padding: 2rem 0;
}

.top ul{
    margin-bottom: 1rem;
}

.social{
    display: flex;
    gap:0 1rem;
    font-size: 2rem;
    color: white;
}

footer ul{
    display: flex;
    list-style-type: none;

}

footer  img{
    width: 10rem;
    max-height:4rem;
}

footer .social img{
    width: 5rem;
    height: 2rem;
}

footer .app-store{
    display: flex;
    align-items: center;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -2rem;
}